{% extends "layout.html" %}
{% block body %}

<div class="container my-3 text-center">
<main class="form-signin">
  <form action="/dash" method="POST">

    <h1 class="h3 mb-3 fw-normal">ADMIN PAGE</h1>

    <div class="form-floating" >
      <input type="text" class="form-control" name="adminname" id="floatingInput" placeholder="User Name">
      <label for="floatingInput">User Name</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" name="adminpass" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary rounded-pill" type="submit">Sign in</button>
  </form>
  
</main>
</div>
{% endblock body %}



